/* .shapes {
    border: black solid 2px;
    width: 3rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.shapes div {
    border: black solid 1px;
    border-radius: 2px;
    width: 2.5rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
} */
body {
    display: flex;
    justify-content: space-between;
    width: 9vw;
}
/* Shapes */
.burger-one, .burger-two, .burger-three{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.burger-one div, .burger-two div, .burger-three div {
    border: black solid 1px;
    background-color: black;
    border-radius: 2px;
    width: 2.5rem;
    height: 0.2rem;
}
.burger-one:hover > :nth-child(1) {
    transform: rotate(90deg);
}
.burger-one:hover > :nth-child(2) {
    display: none;
}
.burger-one:hover > :nth-child(3) {
    transform: rotate(90deg);
}
.burger-two:hover > :nth-child(1) {
    transform: rotate(-45deg);
}
.burger-two:hover > :nth-child(2) {
    transform: rotate(-45deg);
}
.burger-two:hover > :nth-child(3) {
    transform: rotate(-45deg);
}
.burger-three:hover > :nth-child(1) {
    transform: rotate(90deg);
    position: relative;
    right: 1rem;
    top: 1rem;
}
.burger-three:hover > :nth-child(2) {
    display: none;
}
.burger-three:hover > :nth-child(3) {
    transform: rotate(90deg);
    position: relative;
    left: 1rem;
}
/* Colors */
.burger-four, .burger-five, .burger-six{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.burger-four div {
    border: red solid 1px;
    background-color: red;
    border-radius: 2px;
    width: 2.5rem;
    height: 0.2rem;
}
.burger-five div {
    border: yellow solid 1px;
    background-color: yellow;
    border-radius: 2px;
    width: 2.5rem;
    height: 0.2rem;
}
.burger-six div {
    border: blue solid 1px;
    background-color: blue;
    border-radius: 2px;
    width: 2.5rem;
    height: 0.2rem;
}
.burger-four:hover > :nth-child(1) {
    transform: rotate(0deg);
    position: relative;
    top: 1rem;
}
.burger-four:hover > :nth-child(2) {
    transform: rotate(90deg);
    border: blue solid 1px;
    background: blue;
}
.burger-four:hover > :nth-child(3) {
    display: none;
}
.burger-five:hover > :nth-child(1) {
    transform: rotate(45deg);
    border: red solid 1px;
    background-color: red;
}
.burger-five:hover > :nth-child(2) {
    transform: rotate(45deg);
}
.burger-five:hover > :nth-child(3) {
    transform: rotate(45deg);
    border: blue solid 1px;
    background-color: blue;
}
.burger-six:hover > :nth-child(1) {
    transform: rotate(90deg);
    position: relative;
    right: 1rem;
    top: 1rem;
    border: red solid 1px;
    background-color: red;
}
.burger-six:hover > :nth-child(2) {
    transform: rotate(90deg);
    border: yellow solid 1px;
    background-color: yellow;
    position: relative;
    top: 0.1rem;
}
.burger-six:hover > :nth-child(3) {
    transform: rotate(90deg);
    position: relative;
    left: 1rem;
    bottom: 0.7rem;
}
/* Movements */
.burger-seven, .burger-eight, .burger-nine{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.burger-seven div, .burger-eight div, .burger-nine div {
    border: black solid 1px;
    background-color: black;
    border-radius: 2px;
    width: 2.5rem;
    height: 0.2rem;
}
.burger-seven:hover {
    transform: rotate(0.5turn);
}
/* Emojis */
.emojis {
    font-size: 2rem;
}
.emoji-one:hover {
    transform: matrix(1, 2, 3);
}
.emoji-two {
    margin-top: -1.2vh;
}
.emoji-two:hover {
    transform: rotate(0.5turn);
}
.emoji-three {
    margin-top: -1.8vh;
}
.emoji-three:hover {
    font-size: 5rem;
}
