body {
    display: flex;
    justify-content: space-between;
    width: 9vw;
}
/* Shapes */
.hamburger{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.hamburger div {
    border: black solid 1px;
    background-color: black;
    border-radius: 2px;
    width: 2.5rem;
    height: 0.2rem;
}
.burger-one:hover > :nth-child(1) {
    transform: rotate(90deg);
}
.burger-one:hover > :nth-child(2) {
    display: none;
}
.burger-one:hover > :nth-child(3) {
    transform: rotate(90deg);
}
.burger-two:hover > :nth-child(1) {
    transform: rotate(-45deg);
}
.burger-two:hover > :nth-child(2) {
    transform: rotate(-45deg);
}
.burger-two:hover > :nth-child(3) {
    transform: rotate(-45deg);
}
.burger-three:hover > :nth-child(1) {
    transform: rotate(90deg);
    position: relative;
    right: 1rem;
    top: 1rem;
}
.burger-three:hover > :nth-child(2) {
    display: none;
}
.burger-three:hover > :nth-child(3) {
    transform: rotate(90deg);
    position: relative;
    left: 1rem;
}
.burger-four div {
    border: red solid 1px;
    background-color: red;
}
.burger-five div {
    border: yellow solid 1px;
    background-color: yellow;
}
.burger-six div {
    border: blue solid 1px;
    background-color: blue;
}
.burger-four:hover > :nth-child(1) {
    transform: rotate(0deg);
    position: relative;
    top: 1rem;
}
.burger-four:hover > :nth-child(2) {
    transform: rotate(90deg);
    border: blue solid 1px;
    background: blue;
}
.burger-four:hover > :nth-child(3) {
    display: none;
}
.burger-five:hover > :nth-child(1) {
    transform: rotate(45deg);
    border: red solid 1px;
    background-color: red;
}
.burger-five:hover > :nth-child(2) {
    transform: rotate(45deg);
}
.burger-five:hover > :nth-child(3) {
    transform: rotate(45deg);
    border: blue solid 1px;
    background-color: blue;
}
.burger-six:hover > :nth-child(1) {
    transform: rotate(90deg);
    position: relative;
    right: 1rem;
    top: 1rem;
    border: red solid 1px;
    background-color: red;
}
.burger-six:hover > :nth-child(2) {
    transform: rotate(90deg);
    border: yellow solid 1px;
    background-color: yellow;
    position: relative;
    top: 0.1rem;
}
.burger-six:hover > :nth-child(3) {
    transform: rotate(90deg);
    position: relative;
    left: 1rem;
    bottom: 0.7rem;
}
/* Movements */
.burger-seven:hover {

}
.burger-eight:hover {

}
.burger-nine:hover {

}
/* Emojis */
.emojis {
    font-size: 2rem;
}
.emoji-one:hover {

}
.emoji-two {
    margin-top: -1.2vh;
}
.emoji-two:hover {
    transform: rotate(0.5turn);
}
.emoji-three {
    margin-top: -1.8vh;
}
.emoji-three:hover {
    font-size: 5rem;
}