section div {
    width: 5rem;
    height: 5rem;
    display: inline-block;
}

#blue {
    background-color: cornflowerblue;
    height: 7rem ;
}


#purple {
    background-color: purple;
    width: 0;
    height: 0;
    border-top: 40px solid white;
    border-right: 40px solid white;
    border-bottom: 40px solid purple;
    border-left: 40px solid purple;
    
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
    border-radius: 50%;
}