body {
    background-color: black;
    background-image: url(../images/bicep.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: 3rem;
}

h1 {
    color: #718871;
    background-color: black;
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
}

section div {
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#green {
    background-color: green;
}